include README.md
include LICENSE.md
include CHANGELOG.md
include poreplex/kmer_models/COPYRIGHT
include poreplex/kmer_models/*.md
include poreplex/kmer_models/*RNA/*.model
include poreplex/presets/*.cfg
include poreplex/presets/*/*.hdf5
include src/*.c
include src/contrib/scrappie/*.md
include src/contrib/scrappie/*.c
include src/contrib/scrappie/*.h
include src/contrib/scrappie/*.diff
recursive-include training Snakefile *.yaml *.fa.gz *.txt *.py
