include README.md
include LICENSE
include octopus/kmer_models/COPYRIGHT
include octopus/kmer_models/*.md
include octopus/kmer_models/*RNA/*.model
include octopus/presets/*.cfg
include octopus/presets/*/*.hdf5
