include README.md
include LICENSE.txt
include poreplex/kmer_models/COPYRIGHT
include poreplex/kmer_models/*.md
include poreplex/kmer_models/*RNA/*.model
include poreplex/presets/*.cfg
include poreplex/presets/*/*.hdf5
